.project-container {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='2000' preserveAspectRatio='none' viewBox='0 0 2000 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1201%26quot%3b)' fill='none'%3e%3crect width='2000' height='2000' x='0' y='0' fill='rgba(230%2c 218%2c 206%2c 1)'%3e%3c/rect%3e%3cpath d='M2066.666666666667 2000L0 2000 L0 589.63Q-25.85 463.78%2c 100 437.93Q171.82 343.09%2c 266.6666666666667 414.91Q372.35 353.93%2c 433.33333333333337 459.61Q586.08 512.36%2c 533.3333333333334 665.11Q496.51 461.62%2c 700 424.79Q854.08 412.21%2c 866.6666666666667 566.29Q1003.84 536.8%2c 1033.3333333333335 673.97Q1204.84 678.81%2c 1200.0000000000002 850.32Q1152.38 636.04%2c 1366.666666666667 588.42Q1438.55 493.64%2c 1533.3333333333337 565.52Q1592.69 458.21%2c 1700.0000000000005 517.57Q1698.73 416.3%2c 1800.0000000000005 415.03Q1888.78 337.14%2c 1966.6666666666672 425.92Q2031.96 391.21%2c 2066.666666666667 456.5z' fill='rgba(201%2c 186%2c 172%2c 1)'%3e%3c/path%3e%3cpath d='M2066.666666666667 2000L0 2000 L0 970.13Q153.09 956.55%2c 166.66666666666669 1109.64Q288.24 1131.22%2c 266.6666666666667 1252.79Q168.99 988.45%2c 433.33333333333337 890.77Q729.47 1020.24%2c 600 1316.38Q543.51 1093.23%2c 766.6666666666667 1036.74Q822.34 925.74%2c 933.3333333333335 981.41Q974.88 856.29%2c 1100.0000000000002 897.83Q1190.79 821.96%2c 1266.666666666667 912.75Q1458.6 938.01%2c 1433.3333333333337 1129.94Q1507.96 1104.57%2c 1533.3333333333337 1179.2Q1610.26 1156.13%2c 1633.3333333333337 1233.06Q1637.73 1137.46%2c 1733.3333333333337 1141.86Q1652.1 893.96%2c 1900.0000000000005 812.73Q2210.28 956.35%2c 2066.666666666667 1266.63z' fill='rgba(213%2c 200%2c 187%2c 1)'%3e%3c/path%3e%3cpath d='M2133.3333333333335 2000L0 2000 L0 1711.03Q-21.46 1522.91%2c 166.66666666666669 1501.45Q116.81 1351.59%2c 266.6666666666667 1301.73Q445.29 1380.36%2c 366.6666666666667 1558.98Q434.14 1526.45%2c 466.6666666666667 1593.93Q490.77 1518.03%2c 566.6666666666667 1542.13Q593.07 1468.54%2c 666.6666666666667 1494.94Q637.35 1365.63%2c 766.6666666666667 1336.31Q832.5 1235.47%2c 933.3333333333335 1301.3Q978.19 1246.16%2c 1033.3333333333335 1291.02Q1059.13 1216.82%2c 1133.3333333333335 1242.62Q1192.84 1202.13%2c 1233.3333333333335 1261.63Q1294.73 1223.03%2c 1333.3333333333335 1284.43Q1565.47 1349.9%2c 1500.0000000000002 1582.04Q1579.32 1561.36%2c 1600.0000000000002 1640.67Q1667.29 1607.95%2c 1700.0000000000002 1675.24Q1709.41 1584.64%2c 1800.0000000000002 1594.05Q1766.03 1393.42%2c 1966.666666666667 1359.45Q2039.75 1265.87%2c 2133.3333333333335 1338.96z' fill='rgba(223%2c 215%2c 208%2c 1)'%3e%3c/path%3e%3cpath d='M2000.0000000000005 2000L0 2000 L0 2046.31Q6 1952.31%2c 100 1958.31Q111.76 1870.07%2c 200 1881.84Q115.89 1697.73%2c 300 1613.62Q564.55 1711.5%2c 466.6666666666667 1976.05Q385.01 1727.73%2c 633.3333333333334 1646.07Q879.64 1792.38%2c 733.3333333333334 2038.69Q616.18 1821.54%2c 833.3333333333334 1704.39Q859.28 1630.34%2c 933.3333333333334 1656.29Q999.62 1622.57%2c 1033.3333333333335 1688.86Q1108.62 1597.48%2c 1200.0000000000002 1672.77Q1236.44 1609.2%2c 1300.0000000000002 1645.64Q1412.02 1590.99%2c 1466.666666666667 1703.01Q1598.38 1734.72%2c 1566.666666666667 1866.44Q1675.47 1808.57%2c 1733.3333333333337 1917.37Q1853.41 1870.78%2c 1900.0000000000005 1990.85Q1957.06 1947.91%2c 2000.0000000000005 2004.97z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1201'%3e%3crect width='2000' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.project-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}
.project-intro-heading {
  display: flex;
}
.project-intro-heading h2 {
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
}
.project-intro-block {
  width: 20px;
  height: 20px;
  background-color: #0050ff;
  margin-top: 16px;
  margin-right: 5px;
}
.project-intro-p {
  max-width: 750px;
  background-color: #c9baac;
  margin: 50px;

  border-radius: 20px;
}
.project-intro-p p {
  line-height: 1.7rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 20px;
}
.down-svg {
  width: 33px;
  color: #0050ff;
  fill: #0050ff;
}
@media all and (max-width: 950px) {
}
