.about {
  min-height: 100vh;
  display: flex;
  min-width: 100%;
  background: linear-gradient(
    to right,
    #e6dace 0%,
    #e6dace 40%,
    white 40%,
    white 100%
  );
  justify-content: center;
  align-items: center;
}
.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.loaderrr {
  justify-content: center;
  align-items: center;
  margin-bottom: 80vh;
  margin-top: 40vh;
  display: flex;
}
@media all and (max-width: 770px) {
  .about {
    background: linear-gradient(
      to bottom,
      white 0%,
      white 25%,
      #e6dace 25%,
      #e6dace 100%
    );
  }
}
